/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  /* Màu nền trang */
  --color-background: #fafafa; /* giấy cũ, beige nhẹ */
  --color-container: #e1e1e1; /* container nhạt hơn nền để tạo chiều sâu */

  /* Màu chữ */
  --color-text-main: #000000; /* nâu sẫm, dễ đọc */
  --color-text-secondary: #5e5e5e; /* nâu nhạt hơn cho subtitle / caption */
  --color-text-accent: #dfdfdf; /* nâu đỏ ấm để nhấn nhá link / highlight */

  /* Màu nút / link / accent */
  --color-accent: #4a86a4; /* nâu vàng ấm, tạo điểm nhấn */
  --color-accent-hover: #99c6dc; /* hover đậm hơn */

  /* Border, divider */
  --color-border: #304360; /* nâu nhạt / sepia */

  --body-font: 'Montserrat', sans-serif;
  --second-font: 'Dancing Script', cursive;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
  gap: 9rem;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #80ded9;

  background-image: url(images/francesco-ungaro-UO9hm7iBh68-unsplash.jpg);
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  filter: brightness(0.9);
}

.player {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 80%;
}

.grid_container {
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 50rem;
  width: 50rem;
  gap: 2px;
  background: rgba(255, 255, 255, 0.251); /* màu trắng mờ */
  backdrop-filter: blur(3px); /* làm mờ nền phía sau */
  -webkit-backdrop-filter: blur(3px); /* cho Safari */
  border: 1px solid rgba(255, 255, 255, 0.116);
}

.cell {
  background: rgba(255, 255, 255, 0.2); /* màu trắng mờ */
  backdrop-filter: blur(5px); /* làm mờ nền phía sau */
  -webkit-backdrop-filter: blur(5px); /* cho Safari */
  border: 1px solid rgba(255, 255, 255, 0.116);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease;
}

.name {
  color: white;
  text-align: center;
}

.cell.preview {
  background-color: rgba(172, 255, 47, 0.545);
}

.cell.invalid {
  background-color: rgba(255, 27, 2, 0.603);
}

.friendShip {
  background-color: rgba(111, 255, 166, 0.674);
}

.enemyShip.sunk {
  background-color: rgba(255, 96, 78, 0.688);
}

.attacked {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: rgba(250, 25, 0, 0.451);
  z-index: 1;
}

.attacked.hit {
  background-color: rgba(250, 25, 0, 0.451);
}

.attacked.miss {
  background-color: rgba(107, 233, 255, 0.671);
}

/* main_board */
.choose_board {
  display: flex;
  gap: 3rem;
}
.main_board {
  display: flex;
  flex-direction: column;
}
.ships_area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.ship {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 5rem;
  background-color: rgb(56, 59, 58);
  cursor: move;
  border-radius: 10px;
}

.ship.dragging {
  opacity: 0.3;
}

.ship_container {
  width: 9rem;
  height: 5rem;
  background-color: rgba(198, 196, 196, 0.338);
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}
.decision_area {
  display: flex;
  height: 7rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
button {
  width: 10rem;
  height: 5rem;
  font-size: var(--h2-font-size);
  color: white;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2); /* màu trắng mờ */
  backdrop-filter: blur(8px); /* làm mờ nền phía sau */
  -webkit-backdrop-filter: blur(8px); /* cho Safari */
  border: 1px solid rgba(255, 255, 255, 0.943);
  border-radius: 12px;
  outline: none;
  transition: 0.3s ease;
}

button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.383); /* màu trắng mờ */
}

.ship_len {
  color: white;
}

#winner_dialog {
  border: none;
  box-shadow: 0 0 10px 5px white;
  border-radius: 12px;
  padding: 0;
  width: 19rem;
  background: rgba(255, 255, 255, 0.251); /* màu trắng mờ */
  backdrop-filter: blur(3px); /* làm mờ nền phía sau */
  -webkit-backdrop-filter: blur(3px); /* cho Safari */
}

#winner_dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#winner_dialog form {
  color: white;
  font-size: var(--h1-font-size);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}
